.container{
	margin: 0px;
    padding: 0px;
    width: 100%;
    border-bottom: #797272 solid 3px;
    position: fixed;
    z-index: 10;
    background-color: #FFF;
}

.navbar, .navbar-default{
	margin: 0px;
	padding: 0px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}


.collapse, .navbar-collapse, .menu-izquierdo{
	float: right;
}

.escudo{
	margin-left: 10px;
	width: 4px;
}

.name-universidad{
	margin-left: 40%;
}

aside{
	float: left;
}

.menu-izquierdo{
	text-align: center;
    margin-top: 6px;
    position: fixed;
    z-index: 9;
}

.menu-mov{
	position: relative;
	float: right;
}

.glyphicon, .glyphicon-home{
	color: #333;
	font-size: 35px;
}

.nav-stacked > li {
  float: none;
  border-bottom: #CFC5C5 solid 2px;
}

section{
	font-size: 14px;
    width: 1290px;
    float: left;
    position: relative;
    background-image: url(img/trama.png);
    margin-left: 133px;
}

.row, .icons{
	text-align: center;
  	margin: 8px 0 0 0;
}

.info{
	margin-top: 6%;
}

.title-left{
	text-align: left;
}


.segundo-menu{
	border-bottom: #CFC5C5 solid 2px;
    position: fixed;
    z-index: 9;
    background-color: #FFF;
}

.dropdown {
  position: relative;
  float: right;
  margin-top: -5%;
  width: 28%;
  height: 88px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: red;
}

.btn, .btn-default, .dropdown-toggle{
	border-color: transparent;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.usuario img{
	border-radius: 50px;
    width: 76%;
    margin: 5px 0 0 0;
}

.usu-saludo{
	text-align: right;
	margin-right: 19%;
}


.horario{
	background-color: #333;
}

.hora{
	color: #FFF;
	border-right: #DDD8D8 solid 2px;
}

.campus{
	padding: 0 0 0 1px;
	color: #FFF;
	border-right: #DDD8D8 solid 2px;
}

.curso{
	padding: 0 0 0 1px;
	color: #FFF;
	border-right: #DDD8D8 solid 2px;
}

.salon{
	padding:0px;
	color: #FFF;
}

.mo{
	padding: 0px;
	margin: 0px;
	border-right: #DDD8D8 solid 2px;
}

.eme{
	padding: 0px;
	margin: 0px;

}

.am{
	padding: 0px;
	margin: 0px;
	border-right: #DDD8D8 solid 2px;
}

.manu{
	padding: 0px;
	margin: 0px;
	border-right: #DDD8D8 solid 2px;
}

.uno{
	margin: 0px;
	background-color: #FFF;
}

.dos{
	margin-top: 2px;
	background-color: #FFF;
}

.tres{
	margin-top: 2px;
	background-color: #FFF;
	height: 40px;
}

.cursos{
	color: #FFF;
	padding: 0px;
	background-color: #333;
	border-right: #DDD8D8 solid 2px;
}

.faltas{
	color: #FFF;
	padding: 0px;
	border-right: #DDD8D8 solid 2px;
}

.promedio{
	color: #FFF;
	padding: 0px;
}

.cuatro{
	margin: 0px;
	background-color: #FFF;
}

.duo-ocultar{
	display: none;
	cursor: pointer;
}

.ojito{
	font-size: 25px;
  	margin-top: 10px;
  	cursor: pointer;
}

.pro{
	padding: 0px;
	margin: 0px;
	border-right: #DDD8D8 solid 2px;
} 
.medio{
	padding: 0px;
	margin: 0px;
	border-right: #DDD8D8 solid 2px;
} 

.prome{
	padding: 0px;
	margin: 0px;
}

.cinco{
	margin-top: 13px;
	background-color: #FFF;
}

.pagos{
	background-color: #333;
}

.prox, .venci{
	color: #FFF;
	padding: 0px;
}

.prox{
	border-right: #FFF solid 2px;
}

.icon-pagos{
	font-size: 20px;
	top:10px;
}

.vence, .desde{
	background-color: #FFF;
	padding:0px;
}

.siete{
	margin:0px;
	background-color: #FFF;
  	height: 17%;
}

.notic-padding{
	padding-bottom: 7px;
}

.ojitodos{
	font-size: 25px;
  	margin:30px 0px 10px 0px;
  	cursor: pointer;
}

.duodos-ocultar{
	display: none;
	cursor: pointer;
	padding-top: 3%;
}


.vence{
	border-right: #C3C1C1 solid 2px;
}

.reservas{
	background-color: #333;
}

.fecha{
	color: #FFF;
	padding: 0px;
	margin: 0px;
	border-right: #DDD8D8 solid 2px;
}

.horados{
	color: #FFF;
	padding: 0px;
	margin: 0px;
	border-right: #DDD8D8 solid 2px;
} 
.recursos{
	color: #FFF;
	padding: 0px;
	margin: 0px;
	border-right: #DDD8D8 solid 2px;
}

.campusdos{
	color: #FFF;
	padding: 0px;
	margin: 0px;
}

.reserv-uno{
	padding: 0px;
	margin: 0px;
	background-color: #FFF;
}

.fechados{
	padding: 0px;
	margin: 0px;
	border-right: #DDD8D8 solid 2px;
}

.amdos{
	padding: 0px;
	margin: 0px;
	border-right: #DDD8D8 solid 2px;
} 

.compu{
	padding: 0px;
	margin: 0px;
	border-right: #DDD8D8 solid 2px;
}
.modos{
	padding: 0px;
	margin: 0px;
}

.reserv-dos{
	padding: 0px;
	margin-top:10px;
	background-color: #FFF;
}

.seis{
	margin-top: 10px;
	background-color: #FFF;
	height: 40px;
}

.noticia{
	background-color: #333;
}

.noti-fecha{
	color: #FFF;
	margin:0px;
	padding: 2%;
	text-align: center;
}


.contend-noti{
	background-color: #FFF;
	padding: 26px 20px 26px;
    text-align: left;
}

.concierto{
	margin: 0px;
	margin-bottom: 15px;
}

.next{
	font-size: 20px;
	margin-right: 28px;
}

.bolsa{
	background-color: #FFF;
	padding: 9px 20 9px;
    text-align: left;
}

.insitum{
	margin: 0px;
	margin-bottom: 15px;
}

