.container{
	margin: 0px;
	padding:0px;
	width: 100%;
}

.navbar, .navbar-default{
	margin: 0px;
	padding: 0px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}


.collapse, .navbar-collapse, .menu-izquierdo{
	float: right;
}

.escudo{
	margin-left: 10px;
	width: 4px;
}

.name-universidad{
	margin-left: 40%;
}

aside{
	float: left;
}

.menu-izquierdo{
	text-align: center;
}

.glyphicon, .glyphicon-home{
	color: 000;
	font-size: 40px;
}

section{
	font-size: 14px;
	width: 1290px;
	float: left;
	position: relative;
	background-image: url(img/trama.png);
}

.row, .icons{
	text-align: center;
    margin: 7px 0 0 0;
}

.usuario img{
	float: right;
    margin-right: 45px;
    border-radius: 50px;
    margin-top: -4%;
}

.horario{
	background-color: #333;
}

.hora, .campus, .curso, .salon{
	color: #FFF;
}

.campus{
	padding: 0 0 0 1px;
}

.curso{
	padding: 0 0 0 1px;
}

.salon{
	padding:0px;
}

.mo, .eme, .am, .manu{
	padding: 0px;
	margin: 0px;
}

.uno{
	margin: 0px;
	background-color: #FFF;
}

.dos{
	margin-top: 2px;
	background-color: #FFF;
}

.tres{
	margin-top: 2px;
	background-color: #FFF;
	height: 40px;
}

.cursos{
	background-color: #333;
}

.cursos, .faltas, .promedio{
	color: #FFF;
	padding: 0px;
}

.cuatro{
	margin: 0px;
	background-color: #FFF;
}

.pro, .medio, .prome{
	padding: 0px;
	margin: 0px;
}

.cinco{
	margin-top: 7px;
	background-color: #FFF;
}